<ion-view view-title="Welcome to a News App">
    
    <ion-content class="padding">
    	<!-- app logo -->
    	<div class="logo_border">
    	    <div class="background_logo">
    			<img src="images/app_logo.png" />
    		</div>
    	</div>

    	<!-- login button -->
    	<button ng-click="goLogin()" class="button button-block button-positive">
  			Login 
		</button>

		
		<img class="center or_section" src="images/or.jpg" />
		
        <img class="center fb_button" src="images/fb_button.png" /> 
		
		<div class="text-center">
			Don't have an account yet? <strong><a ng-click="goSignup()">Sign up now!</a></strong>
        </div>
		
		
	</ion-content>
</ion-view>
