<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">

<!--
Custom-Authentication 
    	<div id="MainPage">
			<button class="button button-balanced" ng-click="kool()" onclick="getDataFromJSAdapter()" class="btn btn-default btn-block">LogIn</button>
		</div>
-->

        <div ng-show="kolt" id="LoginPage" class="list list-inset">
			<label class="item item-input">
				<input id="username" type="text" placeholder="Username" ng-model="data.username">
			</label>
			<label class="item item-input">
				<input id="password" type="password" placeholder="Password" ng-model="data.password">
			</label>
			<!--
			the onclick="loginButtonClick()" was defined in main.js as part of custom authentication 
			<button class="button button-block button-calm" onclick="loginButtonClick()">Submit</button>
			-->
			<button class="button button-block button-calm" ng-click="submitIt()" >Submit</button>
		</div>

<!--
Custom-Authentication 
		<div ng-show="kolt" id="done">
			<button id="cliqua" ng-click="yas()" class="btn btn-default btn-block">Done</button>
		</div>
-->
	</ion-content>
</ion-view>


