<div ng-show="readyLoc" class="card">
  	<div class="item item-divider">
   		<i class="headTex">{{temp + "°"}}</i><i ng-show="readyLoc" class="headInf ion-thermometer firstT"></i>
   		<i class="headTex">{{humidity + "%"}}</i><i ng-show="readyLoc" class="headInf ion-waterdrop"></i>
   		<i class="headTex">{{wind + "mps"}}</i><i ng-show="readyLoc" class="headInf ion-flag"></i>
  	</div>
  	<div class="item item-text-wrap">
  		<i ng-show="readyLoc" id="iconI" class="icon"></i><i class="nexIcon">{{weatherDesc}}</i>
  	</div>
  	<div class="item item-divider">
  		<i class="locate">{{level1}}</i><i ng-show="readyLoc" class="locate ion-ios-location-outline"></i>
  	</div>
</div>
